/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 7, 2016, 12:34:00 PM
    Author     : Sanjay
*/

 .bootsnav
{
    height: 100px;
    background-color: #4dbbac ;
}


/* ----------- cart button ----------- */
.btn-small
{
    background-color: #f2f2f2;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 10px;
    font-size: 15px;
}
.btn-small:hover
{
    background-color: #50c2c2; /* Green */
    color: white;
}
/* cart button  end ---------------[]*/

